

.topnav{
    display: flex;
    justify-content: space-between;
}
#menu{
    margin: 0 5em 1em 3.5em   ;
}
#dplay_link{
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
}
.A_Style{
    background-color:white;
    width: 6em;
    height: 1em;
    border-radius: 1em;
    text-align: center;
    padding: 1.5em 1em ;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}.A_Style:hover{
    background-color: skyblue;
    color: white;
    transition: 0.5s;
    
}
.active{
    background-color: lightblue;
}

#Search_bar{
    border-radius: 0.7em;
    text-align: center;
    width: 28.3em ;
    height: 4.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1;

}

.box{
    background-color: white;
    border: solid 0.1em;
    width: 24em;
    height: 13em;
    margin: 5em 0 0;
    border-radius: 0.7em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em
    
}
img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
}
.tags {
    display: flex;
    gap: 0.1em;
    flex-wrap: wrap ;
}.tag{
    width: auto;
    border: solid 0.1em lightblue;
    border-radius: 1em;
    padding: 0.5em;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
    font-size: 1.2;
    font-family: 'Times New Roman', Times, serif;
}

#line1{
    display: flex;
    justify-content: space-around;
    align-items: center;
};
#line2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.special{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
